$main-header-color: rgb(145, 145, 160);

.nav_container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 30px 60px;
    z-index: 1;
    pointer-events: none;

    color: $main-header-color;

    mix-blend-mode: difference;

    opacity: 0;

    h3 {
        font-weight: 500;
    }

    a {
        cursor: pointer;
    }
}

.home_container {
    display: flex;
    align-items: center;
}

.contact_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
}

.nav_link {
    text-decoration: none;
    font-weight: 500;
    pointer-events: auto;

    transition: color 0.4s ease;

    &:hover {
        color: rgb(124, 124, 100);
    }
}
