@import 'src/styles/index.scss';

.section {
    width: 100%;
    min-height: 110vh;

    display: flex;
    flex-direction: row;
}

.text_column {
    flex: 1;
    padding: 100px;

    h2 {
        font-size: 4rem;
        font-family: var(--font-poppins);
        font-weight: 500;
        margin-bottom: 2.5rem;
    }

    p {
        font-family: var(--font-open-sans);
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    @include md {
        padding: 30px;
    }
}

.photo_column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;

    @include lg {
        padding: 30px;
        margin-top: 40px;
    }

    @include sm {
        display: none;
    }
}