@import 'src/styles/index.scss';

.frame {
    position: relative;
    width: 100%;           /* or fixed width */
    height: 80%;
    display: block;
    overflow: hidden;

    .image_wrapper {
        position: absolute;
        height: 120%;
        width: 100%;
        bottom: 0;

        display: flex;              
        justify-content: center;
        align-items: center;

        img, video {
            width: auto;
            height: 100%; 
        }
    }
}