$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Inter', sans-serif;

$heading-font: $font-primary;
$body-font: $font-secondary;

$dark-heading-color: #3f3f3f;
$dark-subheading-color: #727272;

$primary-color: #9A24BE;
$secondary-color: #b284a5;

