.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal_box {
  background: rgb(41, 41, 41);
  color: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
}
