$main-header-color: rgb(145, 145, 160);

.nav_container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 22px 40px;
    z-index: 1;
    
    color: $main-header-color;

    mix-blend-mode: difference;
}

.home_container {
    display: flex;
    align-items: center;

    h2 {
        font-weight: 500;
    }
}

.contact_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;

    h3 {
        font-weight: 500;
        color: var(--header3-color);
    }

    h2 {
        font-weight: 500;
    }
}