@import 'src/styles/index.scss';

.overlay {
    position: absolute;
    inset: 0;
    background-color: black; //TODO: Make variable
    z-index: 50;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    z-index: 10;
}
