.tags_container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 9px;
    width: 100%;
}

// Tag Themes ==================================

.pink {
	--bg-color: #f28aef7e;
	--text-color: #983E9A;
}

.whiteOutline {
	--bg-color: rgba(255, 255, 255, 0);
	--text-color: #FFFFFF;
	--outline: 1px solid rgba(255, 255, 255, 0.3);
}

// Tag Themes ===================================

.tag {
	background-color: var(--bg-color);
	color: var(--text-color);
	outline: var(--outline, none);
	font-weight: 500;
	border-radius: 15px; 
	padding: 0.3rem 0.9rem;
	font-size: 0.95rem;
	line-height: 1.4;
	white-space: nowrap;
	user-select: none;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}