.footer {
    width: 100vw;
    background-color: transparent;
    padding: 35px 35px;

    font-family: var(--font-poppins);

    .name {
        color: #f8f7f7;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .caption {
        color: #DED6D6;
        font-size: 1.8rem;
        font-weight: 600;
    }
}