@import 'src/styles/index.scss';

.experience_section {
    position: relative;

    min-height: 100vh;
    width: 100%;

    background-color: #EFE7E7;
    --column-width: 70;
}

.experience_logos_column_bg {
    position: absolute;
    right: 0;
    width: calc(100vw - var(--column-width) * 1vw);
    height: 100%;

    background-image: url('/images/section1-gradient.png');
    background-size: cover;

    @include md {
        display: none;
    }
}

.experience_column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    z-index: 1;

    .heading_container {
        margin-left: 60px;
        margin-top: 30px;

        @include md {
            margin-left: 30px;
        }
    }

    h1 {
        font-weight: 500;
        font-size: 3.9rem;
        color: #402D2D;

        @include sm {
            font-size: 3.2rem;
        }
    }

    @include md {
        margin-bottom: 3rem;
    }
}

.experience_row {
    position: relative;
    display: flex;

    width: 100%;
    min-height: calc(100vw - var(--column-width) * 1vw - 10vw);
    color: #111111;
}

.text_section {
    flex: 1;
    padding: 60px;

    display: grid;
    grid-template-columns: 35% 1fr;
    column-gap: 2rem;
    row-gap: 0.5rem;

    grid-template-areas:
        "date company_and_role"
        "tags role_desc";

    @include md {
        column-gap: 0;
        padding: 30px;
        grid-template-columns: 1fr;

        grid-template-areas:
        "date"
        "company_and_role"
        "role_desc"
        "tags";

    }

    .date {
        grid-area: date;

        p {
            font-size: 1.1rem;
            font-weight: 500;
            font-family: var(--font-poppins);
            color: #6B6464;
        }
    }

    .tags {
        grid-area: tags;
    }

    .company_and_role {
        grid-area: company_and_role;
        font-size: 1.5rem;
        font-weight: 500;
        color: #1C1B1B;

        .company {
            color: #9A24BE;
        }
    }
    
    .role_description_list {
        grid-area: role_desc;
        font-size: 1.1rem;
        line-height: 1.6;
        margin-left: 2rem;

        li {
            margin-bottom: 0.5rem;
        }

        li::marker {
            font-size: 0.6em;
        }

        @include md {
            font-size: 0.9rem;
        }
    }
}

.logo_section {
    width: calc(100vw - var(--column-width) * 1vw);
    align-items: center;
    justify-content: center;
    padding: calc(30px - 1vw) 5vw;

    .logo_container {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    @include md {
        display: none;
    }
}