.text {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.line {
    display: flex;
}

.char {
    transform: translateY(10vw); /*TODO: someway that calculates how low it goes based on current text size */
}
